<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/book1.jpg" class="img-fluid rounded-start" alt="book" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Grumpy Cat: A Grumpy Book</h5>
        <p class="card-text"> Internet sensation Grumpy Cat's epic feline frown has inspired legions of devoted fans. Celebrating the grouch in everyone, the Grumpy Cat book teaches the fine art of grumpiness and includes enough bad attitude to cast a dark cloud over the whole world. Featuring brand new as well as classic photos, and including grump-inspiring activities and games, 
            Grumpy Cat delivers unmatched, hilarious grumpiness that puts any bad mood in perspective.</p>

      </div>
    </div>
  </div>
</div>




<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/images/book2.jpg" class="img-fluid rounded-start" alt="book" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">The Little Grumpy Cat that Wouldn't</h5>
        <p class="card-text"> Grumpy Cat has 8 million Facebook followers, her own TV movie, and now  
            a Little Golden Book! In this story featuring an all-new iconic art style, Grumpy Cat’s friends and admirers try to get her to try new things and have fun, and each time she is even more resolved to say NO. In the end, she is right. Having fun is awful..</p>

      </div>
    </div>
  </div>
</div>

